*************Hello World!!!!!!!!!!!!!!!!!*******************
************Welcome to {{ ansible_distribution }} server **********
The IP address of this machine is {{ ansible_default_ipv4.address }}
The machine hostname is {{ ansible_fqdn }}


